---
const { name, image, id } = Astro.props;
const hostname = name.toLowerCase().replaceAll(" ", "-").replace("ñ", "n");
---

<div class="fondo">
  <article class="tarjetaP tarjetaS">
    <header class="cabeceraP">
      <img src={image} alt={name} class="plantilla" />
    </header>
    <h2 class="costo">{name}</h2>
    <a href=`${hostname}?id=${id}` class="button boton flex botonP">
      Ver plantillas<i class="fa-solid fa-arrow-right"></i>
    </a>
  </article>
</div>
